body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#lesson-form,
#calendar-section {
  width: 80%;
  margin: 20px auto;
}

#edit-lesson-bar {
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

#calendar-section {
  margin-top: 40px; /* Add extra margin to push the calendar below */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px 0;
}

button:hover {
  background-color: #0056b3;
}

button#students-list-button {
  display: block;
  margin: 20px auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}